name: CI

on:
  pull_request:
  push:
    branches: main

jobs:
  check-lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run lint:check
      - run: npm run stylelint:check
      - run: npm run format:check
      - run: npm run markdown:check
      - run: npm run build
